{{#with data}}
{{#if isEmpty}}
<mark>Пустий</mark>
{{else}}
{{#each list}}

<div class="product">
    <h2 class="product__name">{{name}}</h2>
    <p class="product__description">{{description}}</p>
    <p class="product__id">id:{{id}}</p>
    <div class="card__footer">
        <div class="product__price">{{price}}$</div>
        <div><a href="#" class="product__edit"><span>Редагувати</span></a></div>
    </div>
</div>
{{/each}}
{{/if}}
{{/with}}